@import '../../../variaveis.css';

#sec3 {
    height: 90vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    background-color: var(--cor-7);
    display: flex;
    padding-bottom: 20px;
}

#sec3 .text-box-sec3 {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    padding-left: 10vw;
}
    #sec3 .text-box-sec3 h2 {
        font-weight: 300;
        font-size: var(--text-size-great);
        color: var(--cor-1);
    }

    #sec3 .text-box-sec3 a {
        text-decoration: none;
        padding: 10px;
        background-color: var(--cor-1);
        color: var(--cor-white);
        font-size: var(--text-size-medium);
        transition: var(--transition-original);
    }

        #sec3 .text-box-sec3 a:hover {
            transition:var(--transition-hover);
            transform: var(--transition-scale);
        }

#sec3 .cel-box-sec3 {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
    #sec3 .cel-box-sec3 .cel-box {
        height: 90%;
        width: 60%;
        background-image: url("../../../assets/imgs/celular-imagem.png");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
       align-items: center;
       justify-content: center;
        gap: 5px;
        padding-top: 60px;
    }