@import '../../../variaveis.css';

/* Animations */
@keyframes animation {
    0% {
        margin-top: 0px;
    }

    20% {
        margin-top: 0px;
    }    

    25% {
        margin-top: -15%;
    }

    45% {
        margin-top: -15%;
    }

    50% {
        margin-top: -30%;
    }

    70% {
        margin-top: -30%;
    }

    75% {
        margin-top: -43.5%;
    }

    95% {
        margin-top: -43.5%;
    }

    100% {
        margin-top: 0px;
    }
}

@keyframes animationMobile {
    0% {
        margin-top: 2%;
    }

    20% {
        margin-top: 2%;
    }    

    25% {
        margin-top: -12%;
    }

    45% {
        margin-top: -12%;
    }

    50% {
        margin-top: -27%;
    }

    70% {
        margin-top: -27%;
    }

    75% {
        margin-top: -42.5%;
    }

    95% {
        margin-top: -42.5%;
    }

    100% {
        margin-top: 2%;
    }
}
/* FIM Animations */

#sec1 {
    height: 50vh;
    min-height: 450px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: var(--cor-6);
    padding-top: 90px;
}

#sec1 h1 {
    height: 2.5rem;
    font-size: 2rem;
    color: var(--cor-1);
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-y: hidden;
    font-weight: 400 !important;
}

#sec1 .span-pai {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 35px;
    animation: animation 6s infinite ease;
    font-weight: bold;
}

.btns-box {
    display: flex;
    gap: 50px;
}

.btns-box a {
    text-decoration: none;
    font-size:var(--text-small);
    font-weight: 500;
    padding: 10px 20px;
    transition: var(--transition-original);
     border-radius: 5px;
}
    

.btns-box a:first-child {
    color: var(--cor-5);
    border: 1px solid var(--cor-5);
}

.btns-box a:nth-child(2) {
    background-color: var(--cor-5);
    color: var(--cor-white);
    border: 1px solid var(--cor-5);
}

.btns-box a:hover {
        transition: var(--transition-hover);
        transform: var(--transition-scale);
        background-color: var(--cor-1);
        border: 1px solid var(--cor-1);
        color: var(--cor-white);
    }

@media (max-width: 900px) {

    #sec1 {
        height: 50vh;
        min-height: 450px;

    }
    
    #sec1 h1 {
        height: 2rem;
        font-size: 1.4rem;
        gap: 7px;
    }

    #sec1 .span-pai {
        animation: animationMobile 6s infinite ease;
    }
    
}