@import '../../variaveis.css';

.message-box {  
    transform: scale(85%);
    transition: 1s;
    opacity: 0;
  }
  
  .message-active {
    opacity: 1;
    transform: scale(100%);
    transition: 1s;
    transition-delay: .2s;
  }