@import '../../variaveis.css';

nav {
    height: 90px;
    width: 100vw;
    background-color: var(--cor-1);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    position: fixed;
    padding-bottom: 15px;
    z-index: 10;
}

nav .nav-menu {
    height: fit-content;
    height: fit-content;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
}

nav .nav-menu .nav-menu-itens {
    list-style: none;
    transition: var(--transition-original);    
}
    nav .nav-menu .nav-menu-itens:hover {
        transition: var(--transition-hover);
        transform: var(--transition-scale);

    }

nav .nav-menu .nav-menu-itens a {
    text-decoration: none;
    padding: 5px 15px;
    color: var(--cor-white);
    font-size: var(--text-size-small);
}

nav .item-destaque-menu {
    background-color: var(--cor-white);
    color: var(--cor-1) !important;
}

nav .link-img-nav {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: flex-end;
}

nav .link-img-nav .img-nav {
    height: 35px;
    transition: var(--transition-original);
}

nav .link-img-nav .img-nav:hover {
    transition: var(--transition-hover);
    transform: var(--transition-scale);
}

