@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap');

@import './variaveis.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}


/*---- SCROLL -----*/
body::-webkit-scrollbar {
    width: 10px; 
}
body::-webkit-scrollbar-track {
    background-color: var(--cor-white); 
}
body::-webkit-scrollbar-thumb {
    background-color: var(--cor-1);
    border-radius: 20px;
    border: 2px solid var(--cor-white); ;
}
/*---- FIM SCROLL -----*/